body {
  box-sizing: border-box;

  margin: 0;

  padding: 0;
}

main {
  margin: 64px 199px;

  width: 626px;
}

/* TODO: Correct the alignment. */
#logo {
  margin-bottom: 32px;
}

h1,
p {
  text-align: center;
}

h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 32px;
  font-weight: 500;

  margin-bottom: 16px;
}

main h1 span {
  color: #ee24ff;
  font-weight: 700;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

p + p {
  margin-top: 32px;
}

main p:nth-of-type(2) strong:first-child {
  color: #828282;
}

#line {
  /* border: 1px solid #eceff2; */
  border: 1px solid red;

  margin-bottom: 16px;

  width: 391px;
}

footer span {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: bold;
}

#wave {
  margin: 0 auto;
}
